<div>

    <table>
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Curso</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let aluno of alunos">
                <td>{{ aluno.matricula }}</td>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.email }}</td>
                <td>{{ aluno.curso }}</td>
                <td>{{ aluno.cadastro === true ? 'Aprovado' : 'Reprovado' }}</td>
            </tr>
        </tbody>
    </table>

</div>