<div>

    <table>
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Curso</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ lista[0].matricula }}</td>
                <td>{{ lista[0].nome }}</td>
                <td>{{ lista[0].email }}</td>
                <td>{{ lista[0].curso }}</td>
                <td>{{ lista[0].cadastro }}</td>
            </tr>
            <tr>
                <td>000</td>
                <td>Bob</td>
                <td>bob.com.br</td>
                <td>Angular</td>
                <td>Reprovado</td>
            </tr>
            <tr>
                <td>000</td>
                <td>Bob</td>
                <td>bob.com.br</td>
                <td>Angular</td>
                <td>Reprovado</td>
            </tr>
        </tbody>
    </table>

</div>